body{
    background-color: #737474;
    background-image: url('images/6.jpeg');

    background-repeat: no-repeat;

    background-position: center;

    background-size: cover;
}
#ten{
    margin: 5%;
    background-color: #b9c4c9;
}
#yu {
    background-color: #b9c4c9;
}

